* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body::before {
  content: "";
  width: 100%;
  height: 436px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  background-color: #535971;
}

body {
  background-color: #efefef;
}

.page {
  margin: 0 auto;
  max-width: 750px;
  
  padding-bottom: 366px;
}

h1 {
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
  line-height: 34px;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400px;
  line-height: 24px;
}

header {
  margin: 140px 0 0;
}

header h1,
header p {
  color: #fff;
}

header h1 {
  font-size: 48px;
  line-height: 60px;

  margin-bottom: 18px;
}

header p {
  font-size: 20px;
  margin-bottom: 48px;
  max-width: 417px;
}

form {
  background-color: #fff;
  border-radius: 20px 20px 0 0;
  padding-top: 64px;
}

fieldset {
  margin: 0 64px;
  padding-bottom: 30px;
  border: none;
}

fieldset legend {
  font-family: "Staatliches", sans-serif;
  color: #535971;
  font-size: 24px;

  width: 100%;

  border-bottom: 1px solid #e6e6f0;
  padding-bottom: 16px;
  margin-bottom: 36px;
}

.input-wrapper {
  display: flex;
  width: 100%;
  gap: 22px;
}

label {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  width: 100%;
}

label span {
  font-size: 12px;
  line-height: 20px;
  color: #c1bccc;

  margin-left: 9px;
}

input {
  background: #fafafc;
  border: 1px solid #e6e6f0;
  border-radius: 8px;

  width: 100%;
  height: 56px;

  margin: 8px 0 16px;
}

::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
}

.input-wrapper h1 {
  font-family: "Staatliches";
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  color: #535971;
}

.section {
display: flex; 
justify-content: center;
flex-direction: column;
}

.col3 {
  display: flex;
  gap: 20px;

  justify-content: center;
  align-items: center;
  }

.col-3 > div:nth-child(1) {
  width: 100%;
}

.date-wrapper {
  flex-direction: column;
}

.time-wrapper {
  display: flex;
  flex-direction: row;

  gap: 10px;

  width: 100%;
}


footer {
  background-color: #535971;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0 0 20px 20px;
  height: 160px;
}
footer input {
  display: flex;
  justify-content: center;
  align-items: center;
  
  background: #FF5374;

  font-family: "Staatliches", sans-serif;
  font-weight: 400;
  line-height: 26px;
  font-size: 20px;
  color: #fff;

  max-width: 608px;
  width: 100%;
  max-height: 56px;

  border: none;

}